*{
    margin: 0;
    padding: 0;
}

.content{
    width: 50%;
    box-sizing: border-box;
    margin: 10px;
    overflow: hidden;
}

body{
    height:100vh;
    display: flex;
    flex-direction: row;
}

ul li{
    list-style: none;
}