body{
    overflow:hidden;
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
}
*{
    margin: 0;
    padding: 0;
}
li,ul,ol{
    list-style-type: none;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#canvas{
    /* background-color: green; */
    position: fixed;
    /* position: absolute; */
    top: 0;
    left: 0;
}
.cutover{
    position: fixed;
    left: 10px;
    top: 15px;
}

.cutover svg{
    width: 1.5em;
    height: 1.5em;
    margin: 0 10px;
}

.cutover svg:nth-child(4){
    width: 2em;
    height: 2em;
    margin-left: 40px;
}

.cutover svg:nth-child(5){
    width: 2em;
    height: 2em;
}

input[type=range] {
    -webkit-appearance: none;
    width: 5rem;
    background: -webkit-linear-gradient(#ddd, #ddd) no-repeat, #ddd;
    background-size: 75% 100%;
    height: 0.4rem;
    border-radius: 0.4rem;
    margin-right: 10px;
}
  /*拖动块的样式*/
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;/*清除系统默认样式*/
    height: 1rem;/*拖动块高度*/
    width: 1rem;/*拖动块宽度*/
    background: #fff;/*拖动块背景*/
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 1px #ddd; /*设置边框*/
}
.cutover.x>#draw{
    /* background-color: gray; */
    fill:red;
    transform: scale(1.5);
}
.cutover.y>#eraser{
    /* background-color: gray; */
    fill:red;
    transform: scale(1.5);
}

.cutover .value{
    display: inline-block;
    width: 20px;
    height: 20px;
}

#Palette{
    position: absolute;
    top: 50px;
    left: 20px;
}

#Palette ol{
    /* border: 1px solid red; */
}

#Palette>ol>li{
    margin: 10px 0;
    width:20px;
    height: 20px;
    border-radius: 50%;
    border:3px solid transparent; 
}

#Palette>ol>li.check{
    border-color: grey;
    width:30px;
    height: 30px;
}

#Palette .plus{
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 3px;
    cursor: pointer;
}

#Palette .plus:hover{
    height: 0;
}

.inputColor{
    /* outline: 0; */
    border: 0;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    top: 0;
}

.inputColor::-webkit-color-swatch-wrapper{padding: 0;}
.inputColor::-webkit-color-swatch{border: 0;border-radius: 50%;}